.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  border: solid 3px ghostwhite;
  border-radius: 10px;
}

.products img {
  width: 50%;
}
